.cpu-component {
  border: 1px solid red;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cpu-component.selected {
  border: 2px solid blue;
  transform: scale(1.05);
  box-shadow: 0 4px 15px 0 hsla(0, 0%, 0%, 0.2);
}
