<main>
  <section class="cpu-section">
    <app-cpu-component class="component" identifier="PC">PC</app-cpu-component>
    <app-cpu-component class="component" identifier="MAR"
      >MAR</app-cpu-component
    >

    <app-cpu-component class="component" identifier="ALU"
      >ALU</app-cpu-component
    >
    <app-cpu-component class="component" identifier="UC">UC</app-cpu-component>

    <app-cpu-component class="component" identifier="IR">IR</app-cpu-component>
    <app-cpu-component class="component" identifier="MBR"
      >MBR</app-cpu-component
    >

    <app-registers-bank class="component"
      ><p>Banco de registros</p></app-registers-bank
    >
  </section>

  <section class="bus-section">
    <app-cpu-component class="component" identifier="DIRECTIONS-BUS"
      >Bus de direcciones</app-cpu-component
    >
    <app-cpu-component class="component" identifier="DATA-BUS"
      >Bus de datos</app-cpu-component
    >
    <app-cpu-component class="component" identifier="CONTROL-BUS"
      >Bus de control</app-cpu-component
    >
  </section>

  <app-principal-memory [initialInstructions]="instructions()"
    ><p>Memoria principal</p></app-principal-memory
  >
</main>
