<div [ngClass]="{ selected: componentIsSelected() }">
  <div class="content">
    <ng-content></ng-content>
  </div>
  <div class="container">
    <div class="instructions">
      @for (instruction of instructions(); track $index) {
        <div [ngClass]=" {'bg-line-color': isImpar($index+1)}" class="line-instruction">
          <span  [ngClass]="{'bg-index-color': isImpar($index+1)}" class="index">{{ $index + 1 }}</span>
          <span class="content-instruction">{{ instruction }}</span>
        </div>
      }
    </div>
    <div class="variables">
      <div class="variable" *ngFor="let variable of variables(); let i = index">
        <span class="name">{{ variable.name }}</span>
        <span class="value">{{ variable.value }}</span>
      </div>
    </div>
  </div>
</div>
